@charset "UTF-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');


body {
	width: 100vw;
	height: 100vh;
	background-color: #F2F1EF;
	font-family: 'Gaegu', cursive;
}
h1 {
	text-align: center;	
}

table {
	margin: auto;
}

aside {
	float: left;
	width: 15%;
	height: 100%;
	margin-top: 20px;

}


content {
	display: block;	
	width: 80%;
	height: 600px;
	float: right;
	background-color: white;
	
	margin: 50px 20px 0 0;
	
}
footer {
	position: fixed;
	right:0;
	bottom: 0;
	margin: 10px;
	text-align:center;
	opacity: 50%
}

.board_screen-title {
	font-size: 50px;
	text-align: center;
} 

.board_screen-category {
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.board_screen-category ul {
	margin: 30px;
	flex-direction: column;
}

.board_screen-category li {
	margin-top: 20px;
	font-size: 25px;
}

/* boardWrite */

#header-subject_category {
	display: flex;
	justify-content: center;
}

#header-subject_category a {
	margin-left: 45px;
	padding: 4px;
	font-size: 23px;
}



